.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.header {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.exemplo-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: start;
  margin: auto;
  width: max-content;
}

.exemplo-list a {
  color: rgb(4, 165, 165);
  text-decoration: underline;
}